body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: darkcyan;
}
.jumbotron {
    margin: 0 auto;
  } 
@media screen and (max-width: 767px) {
    body {
      padding: 20px;
}
.jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
    }
}
@media screen and (min-width: 768px) {
    .jumbotron {
      margin-top: 0;
      margin-bottom: 0;
    }
}